@media only screen and (min-width: 35rem) {
    h1, p{
        text-align: center;
    }
    header {
        display: flex;
    }
    .banner{
        margin: 0.5rem;
        border: 1px solid #bbb;
        padding: 0.75rem;
        background-color: #1c1f33;
        font-family: Roboto solid;
        color: #eee;
        text-align: center;
        margin-top: -1px;
 
    }
  
    
    #logo {
    justify-content: left;
    margin-left: -100px;
    }
    #florida{
        justify-content: left;
        margin-left: -100px;
        height: 100px;
        width: auto;
    }
    .headings {
     justify-content:left;
    }
    #facebook {
        height: 40px;
        width: auto;
        
    }
    #linkedin {
        height: 40px;
        width: auto;
    margin-right: 20px;
    }
    main{
        display:grid;
        
    }
    main #hero{
        grid-column: 1/4;
        grid-row: 1/2;
        
    }
    main #newrelease {
        
        grid-column: 1/4;
        grid-row: 2/3;
    }
    main #spotlight {
        grid-column: 1/4;
        grid-row: 3/4;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr;
        display: grid;
        text-align: center;
    }

    main #spot2 {
        margin: 5px 5px;
        grid-column: 2/4;
        grid-row: 4/4;
    }
    main #join { 
        display: inline;
        grid-column: 1/4;
        grid-row: 5/6;
    }
    #joinbtn{
        height: 30px;
        width: 100px;
        margin-top: 10px;
        margin-left: 50px;
        background-color: #1c1f33;
        color: white;
        border-radius: 7px  ;

    }
    #event img {
        width: 150px;
        height: 150px;
        margin-left: 200px;
    }

    #spot3 img {
        width: 100px;
        height: 100px;
        margin-left: 80px;
    }
    #spot2 img {
       
        margin-left: 150px;
    }
    #join img {
        width: 300px;
        height: 300px;
        
    }
    #spotlight img {
            
        width: 200px;
        height: 200px;
        margin-left: auto;
        margin-top: 100px;
    }
    .grid-container {
        
        grid-column: 1;
        padding: 2px;
        background-color: #1c1f33;
        }
        .grid-item {
        grid-column: 1 ;
        width: 500px;
        position: relative;
        background-color: #eee;
        border: 1px solid black;
        padding: 20px;
        text-align: center;
       
    
       
        }
        div.grid-item img {
        width: 100%;
        height: auto;
        
        
        }
        div.grid-item:hover {
        box-shadow: 0 0 30px #eee;
    
        }
        .demo{
        
        position: absolute;
        top: 50px;
        right: 120px;
        height: 350px;
        width: 250px;
        opacity: 0.5;
        color: black;
        
      
       
       
        }
    #herobtn{
        height: 50px;
        width: 100px;
        margin: 10px auto;
        background-color: #1c1f33;
        color: white;
        border-radius: 7px  ;
        position: absolute;
        right:450px;
        top: 250px;
    }
    main #event {
        
        grid-column: 1/3;
        grid-row: 6/7;
    }
   main #weather { 
    margin-left: 10px;
        grid-column: 3/4;
        grid-row: 6/7;
    }
    footer .section1 {
        width:  100%;
        max-width: 1200px;
        margin:auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
    
        }
        footer .section1 .box figure img {
            width:150px;
            
        
        }
        footer .section1 .box h2 {
            margin-bottom: 25px;
            font-size: 50px;
            
    
        }
        footer .section1 .box p{
            margin-bottom: 10px;
        }
         footer .section2 {
            padding: 15px 10px;
            text-align: Center;
         }
         footer .section3 {
            
            text-align: Center;
         }
         .cards{
            display: grid;
            grid-column: 1/3;
         }


        }
    