body {
	padding: 0;
	margin: 0;
}

header {
	background-color:steelblue;
	padding: 5px 0;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-between;
	max-width: 100%;
	margin: 0 auto;
	border-bottom: 3px solid #bbb;
}
.date{
	font-size: 0.8rem;
	padding: 5px;
    
	
}

nav{
    
	color: #14213d;
    display: flex;
    justify-content: space-around; 
	
}
nav a:hover {
     background-color: #14213d;
     color: black; 
	 padding: 30px;
		 
}
nav a{
	text-align: center;
   	text-decoration: none;
   	padding: 35px;
}
.logo {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}

.logo img {
	width: 80px;
	height: auto;
	margin-bottom: 150px;
    
}

.headings {
	display: flex;
	flex-direction: column;
	margin-left: 0px;
	text-align: center;
	
}

.headings h1 {
	font-size: 1.0rem;
}

.m {
	letter-spacing: 1pt;
	color: forestgreen;
	font-weight: 700;
	font-size: 0.8rem;
}

.social {
	margin-left: 20px;
	margin-top: 200px;
}

.social svg {
	width: 25px;
	height: auto;
}

footer{
	background-color: steelblue;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 25px 50px;
    max-width:900px ;
	margin-left: 340px;
	border-bottom: 2px solid #bbb;

}


