@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap');
/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
h1, h2, h3, p {
	margin: 2vw;
    text-align: center;
} 

.banner{
    margin: 0.5rem;
    border: 1px solid #bbb;
    padding: 0.75rem;
    background-color: #1c1f33;
    font-family: Roboto solid;
    color: #eee;
    text-align: center;
    margin-top: -1px;
}


header {
    background-color: #9b7874;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;

}
#logo {
    height: 50px;
    width:auto;
	border: 2px solid;
    
    
}
#florida{
	height: 100px;
    width:auto;
	border: 2px solid;
}
.headings {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif  solid;
    font-size:x-small;
    margin-left: 10px;
	color: #1c1f33;
}
#facebook {
    width: 20px;
    height: auto;
   
}
#linkedin {
    width: 20px;
    height: auto;
}
#icons {
    justify-content:center;
}
nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: 2px solid;
    font-family: Roboto;
    font-size: 2rem;
    color: #1c1f33;
    justify-items:flex-end;
}
nav {
    background-color: #9b7874;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0 2vw;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #1c1f33;
    border-top: 1px solid  rgba(0,0,0,0.3);
}

#primary a:hover{
    background-color: #1c1f33;
    color:#eee   
}
.date {
margin: 0.5rem;
border: 1px solid #bbb;
padding: 0.75rem;
background-color: #1c1f33;
font-family: Roboto solid;
color: #eee;
text-align: center;
margin-top: -1px;
}
#hero img{
    width: 100%;    
    height: 100%;
    
}
   
    
main{
    display:block;
    

    
    
	
}
main section{
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 200px;
    margin-top: 10px;
    background-color: #eee;
    padding:10px;
    font-family: Roboto;
}
main section div{
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 80px;
    margin-top: 10px;
    background-color: #eee;
    padding:10px;

}
main section div.spot3{
    display: none;
}
main #join {
    display: none;
}

main article {
	margin: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 1rem;
	background-color: #1c1f33;
    color: #eee;
    
}
main picture {
	margin: 0.125rem;
}

#joinbtn{
    height: 30px;
    width: 100px;
    margin-top: 10px;
    margin-left: 100px;
    background-color: #1c1f33;
    color: white;
    border-radius: 7px ;
    
} 
#joinbtn:hover{
    transform: scale(1.12);
    transition: 0.2s;
   
    
}
#herobtn{
    height: 50px;
    width: 100px;
    margin: 10px auto;
    background-color: #1c1f33;
    color: white;
    border-radius: 7px ;
    position: absolute;
	right:200px;
    top: 250px;
    

  
} 
#herobtn:hover{
    transform: scale(1.12);
    transition: 0.2s;
   
    
}
.grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    background-color: #1c1f33;
}
.grid-item {
    grid-column: 2 / span 2;
    margin: 10px auto;
    position: relative;
    background-color: #eee;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    max-width: 800px;

   
}
div.grid-item img {
    width: 100%;
    height: auto;
    filter: saturate(50%);
    
    
}
div.grid-item:hover {
    box-shadow: 0 0 30px #eee;

}
.demo{
    max-width: 767px;
    position: absolute;
    top: 50px;
    right: 50px;
    height: 250px;
    width: 250px;
    opacity: 0.5;
    color: black;
    
  
   
   
}
.item {
    padding: 20px;
    color: #eee;
}
h4 {
    margin: 0.5rem;

}




footer {
    width: 100%;
    background-color: #9b7874;
    justify-content: center;
}
footer .section1{
    font-family: Roboto solid;
    text-align: center;
	margin-left: 20px;
	color: #1c1f33;
}
footer .section2 {
    font-family: Roboto;
    padding: 15px 10px;
    text-align: Center;
	color: #1c1f33;

 }
 footer .group3 {
    font-family: Roboto;
    text-align: Center;
	color: #1c1f33;
    text-align: center;
 }

 footer .box a{
    color: #1c1f33
 }

 footer .box a:hover {
    background-color: #1c1f33;
    color:#eee
}

nav ul li a:hover {
    background-color: #1c1f33;
    color:#eee
}

/*------------Form---------------*/
#join{
    text-align: center;

}
form fieldset {
    margin: 5rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;

}
form legend {
    color: #445ba9;
    margin: 0 .5rem;

}
form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;
}
form label.top input{
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: red;
}
form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}
form input.submitBtn{
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
form label.top input:required{
    border-left: red solid 6px;

}
form label.top input:required{
    border-left: green solid 6px;
}
form label.bottom{
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: red;
}








nav ul {display: none;}
nav ul.open {display: block;}

#hamburguerBton span:nth-child(1) {display: block;}
#hamburguerBton span:nth-child(2) {display: none;}

#hamburguerBton.open span:nth-child(1) {display: none;}
#hamburguerBton.open span:nth-child(2) {display: block;}
















